/* основные стили, в том числе сброс стилей по умолчанию */

html{
  width: 100%;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Bellota Text', cursive;
  font-size: 16px;
  color: #ffffff;
  outline: none;
}

a{
  text-decoration: none;
  color: #000000;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* Хэдер */

.header{
  width: 100%;
  height: 50px;
  background: #20232A;
}

.header .container{
  display: flex;
  justify-content: flex-start;
}

.header-link{
  display: block;
  margin-top: 15px;
  margin-right: 4em;
  text-transform: uppercase;
  font-family: 'Comfortaa', 'Arial';
  font-size: 1em;
  color: #20232A;
  transition: .3s;
  outline: none;
}

.active-city{
  color: #003E85!important;
}


/* Секция с календарем */

section{
  width: 100%;

}

.section-1{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 420px;
  margin-top: 40px;
  background: #282C34;
  transition: 2.9s;
}

.toggle-btn{
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 40px;
  border: 1px solid #000000;
  margin-top: -20px;
  margin-bottom: 25px;
  background: #0F1218;
  cursor: pointer;
}

.toggle-pin{
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #282C34;
  transition: .3s linear;
}

.toggle-pin-moved{
  left: 20px!important;
}

.section-1 .container{
  display: flex;
  justify-content: center;
}

/* Календарь */

#calendar{
  position: relative;
  display: flex;
  width: 600px;
  height: 300px;
  margin-left: -1000%;
  background: #ffffff;
  outline: none;
  transition: 1.9s;
}

.calendar-rotate{
  transform: rotateY(180deg);
}

/* Левая панель календаря для вывода текущей или выбранной даты */

.calendar-day{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 300px;
  line-height: 24px;
  background: #003E85;
}

.calendar-dates{
  flex: 1;
  width: 100%;
  height: 300px;
  background: #ffffff;
}

.calendar-today-title{
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.calendar-today-num{
  font-size: 10em;
  line-height: 1em;
  color: #ffffff;
}

.calendar-today-month{
  font-size: 30px;
  color: #ffffff;
}

.calendar-today-day{
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 5px;
}


/* Правая панель календаря с динамически заполняемым календарем */

.calendar-dates{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month{
  position: absolute;
  top: 30px;
  left: 80px;
  width: 140px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: #003E85;
}

#calendatTable{
  margin-top: 30px;
  color: #003E85;
}

#calendatTable th{
  padding: 5px;
  font-weight: normal;
}

#calendatTable td {
  padding: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  cursor: default;
}

#calendatTable td:hover {
  border: 1px solid rgba(0,0,0,.2);
}

.currentDay{
  color: #ffffff;
  background: #003E85;
}

.not-actual{
  color: #cccccc;
}

.not-actual-next{
  color: #cccccc;
}

.calendar-nav{
  display: flex;
}

.calendar-nav a{
  width: 20px;
  height: 20px;
}

.calendar-nav a:first-child{
  position: absolute;
  top: 31px;
  left: 52px;
  transform: rotate(270deg);
  cursor: default;
}

.calendar-nav a:last-child{
  position: absolute;
  top: 31px;
  right: 52px;
  transform: rotate(90deg);
  cursor: default;
}


.calendar-nav a svg{
  width: 20px;
  height: 20px;
}

.picked-date{
  border: 1px solid #003E85!important;
}


.picked-date1{
  border: 1px solid #003E85!important;
}


/* Секция с часами */

#clock{
  position: absolute;
  display: flex;
	justify-content: center;
	align-items: center;
  top: 60px;
  left: 248px;
  width: 90px;
	height: 90px;
	border-radius: 50%;
  border: 2px solid #003E85;
	margin: 40px auto;
	text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: #282C34;
	background: #ffffff;
}

.hour,
.min,
.sec{
  width: 20px;
}

.separator{
  display: inline-block;
  text-align: center;
  width: 8px;
}


/* "Аналоговые" часы на обратной стороне*/

#analogClock{
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 600px;
  height: 300px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  background: #282C34;
  outline: none;
}

.show{
  display: flex!important;
  transform: rotateY(180deg);
}

.analog{
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: url(https://res.cloudinary.com/dspfsamgq/image/upload/v1585122410/clock_paxn6q.png) center/cover, radial-gradient(rgba(255,255,255,.4), #64b5f6);
  box-shadow: inset 0 0 30px rgba(0,0,0,.5), 0 0 20px 10px rgba(0,0,0,.6);
}

.analog::before{
  z-index: 10;
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
}

.analog-hour,
.analog-min,
.analog-sec{
  position: absolute;
  display: flex;
  justify-content: center;
}

.analog-hour{
  width: 130px;
  height: 130px;
  top: calc(50% - 65px);
  left: calc(50% - 65px);
}

.analog-hour::after,
.analog-min::after,
.analog-sec::after{
  content: '';
  width: 8px;
  height: 60px;
  background: #333;
  border-radius: 4px 4px 0 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.analog-min{
  width: 170px;
  height: 170px;
  top: calc(50% - 85px);
  left: calc(50% - 85px);
}

.analog-min::after{
  width: 4px;
  height: 80px;
}

.analog-sec{
  width: 210px;
  height: 210px;
  top: calc(50% - 106px);
  left: calc(50% - 105px);
}

.analog-sec::after{
  width: 2px;
  height: 125px;
  background: #fff;
}

.cogs{
  position: absolute;
  top: 155px;
  left: calc(50% - 45px);
  width: 90px;
  height: 50px;
  border-radius: 4px;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,.5);
  overflow: hidden;
  background: #333;
}

.cog1{
  position: absolute;
  left: -40px;
  top: -10px;
  width: 80px;
  height: 80px;
  background: url(https://res.cloudinary.com/dspfsamgq/image/upload/v1585126389/cog_agbope.png) center/cover;
  animation: cog 6s linear infinite;
}

@keyframes cog {
  100% {
    transform: rotate(360deg);
  }
}

.cog2{
  position: absolute;
  right: -10px;
  top: -12px;
  width: 65px;
  height: 65px;
  background: url(https://res.cloudinary.com/dspfsamgq/image/upload/v1585126389/cog_agbope.png) center/cover;
  animation: cog 6s linear infinite reverse;
}



/* медиа стили */

@media (max-width: 750px) {

  .section-1{
    height: 800px;
    align-items: flex-start;
    padding-top: 50px;
  }

  .section-1 .container{
    justify-content: flex-start;
  }

  #calendar{
    flex-direction: column;
    width: 70%;
  }

  .calendar-day,
  .calendar-dates {
    padding: 60px;
  }

  .calendar-dates{
    margin-top: 30px;
  }

  .month{
    left: 36%;
    top: 15%;
  }

  .calendar-nav a:first-child{
    top: 15%;
    left: 30%;
  }

  .calendar-nav a:last-child{
    top: 15%;
    right: 30%;
  }

  #clock{
    top: 290px;
    left: 54%;
  }

}

@media (max-width: 650px) {
  body{
    font-size: 14px;
  }

  .header-link{
    font-size: 0.7em;
  }

  #clock {
    top: 271px;
    left: 54%;
  }

}

@media (max-width: 570px) {
  .month{
    left: 31%;
  }

  .calendar-nav a:first-child{
    left: 24%;
  }

  .calendar-nav a:last-child{
    right: 23%;
  }
}

@media (max-width: 400px) {

  .header-link{
    margin-right: 2em;
  }

  #calendar{
    width: 62%;
  }

  .month{
    left: 29%;
  }

  .calendar-nav a:first-child{
    left: 23%;
  }

  .calendar-nav a:last-child{
    right: 20%;
  }
}

@media (max-width: 350px) {
  #calendar{
    width: 52%;
  }

  .month{
    left: 24%;
    top: 17%;
  }

  .calendar-nav a:first-child{
    left: 14%;
    top: 17%;
  }

  .calendar-nav a:last-child{
    right: 13%;
    top: 17%;
  }

  #clock {
    top: 271px;
    left: 56%;
  }

}
