/* основные стили, в том числе сброс стилей по умолчанию */

html{
  width: 100%;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Bellota Text', cursive;
  font-size: 16px;
  color: #ffffff;
  outline: none;
}

a{
  text-decoration: none;
  color: #000000;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* Хэдер */

.header{
  width: 100%;
  height: 50px;
  background: #20232A;
}

.header .container{
  display: flex;
  justify-content: flex-start;
}

.header-link{
  display: block;
  margin-top: 15px;
  margin-right: 4em;
  text-transform: uppercase;
  font-size: 1em;
  color: #20232A;
  transition: .3s;
}

.header-link:hover{

}

/* Секция с календарем */

section{
  width: 100%;

}

.section-1{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 340px;
  margin-top: 40px;
  background: #282C34;
  transition: 2.9s;
}

.section-1 .container{
  display: flex;
  justify-content: center;
}

/* Календарь */

#calendar{
  display: flex;
  width: 600px;
  height: 300px;
  margin-left: -1000%;
  background: #ffffff;
  transition: 1.9s;
}

/* Левая панель календаря для вывода текущей или выбранной даты */

.calendar-day{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 300px;
  line-height: 24px;
  background: #003E85;
}

.calendar-dates{
  flex: 1;
  width: 100%;
  height: 300px;
  background: #ffffff;
}

.calendar-today-title{
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.calendar-today-num{
  font-size: 10em;
  line-height: 1em;
  color: #ffffff;
}

.calendar-today-month{
  font-size: 30px;
  color: #ffffff;
}

.calendar-today-day{
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 5px;
}


/* Правая панель календаря с динамически заполняемым календарем */

.calendar-dates{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month{
  position: absolute;
  top: 30px;
  left: 79px;
  width: 140px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: #003E85;
}

#calendatTable{
  margin-top: 30px;
  color: #003E85;
}

#calendatTable th{
  padding: 5px;
  font-weight: normal;
}

#calendatTable td {
  padding: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  cursor: default;
}

#calendatTable td:hover {
  border: 1px solid rgba(0,0,0,.2);
}

.currentDay{
  color: #ffffff;
  background: #003E85;
}

.not-actual{
  color: #cccccc;
}

.calendar-nav{
  display: flex;
}

.calendar-nav a{
  width: 20px;
  height: 20px;
}

.calendar-nav a:first-child{
  position: absolute;
  top: 31px;
  left: 50px;
  transform: rotate(270deg);
}

.calendar-nav a:last-child{
  position: absolute;
  top: 31px;
  right: 55px;
  transform: rotate(90deg);
}


.calendar-nav a svg{
  width: 20px;
  height: 20px;
}

.picked-date{
  border: 1px solid #003E85!important;
}
